<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">

    <title>{{ .Site.Title }}</title>
    <meta property="og:title" content="{{ .Site.Title }}" />

    {{- with .Description | default .Params.subtitle | default .Summary -}}
    <meta name="description" content="{{ . }}">
    <meta property="og:description" content="{{ . }}">
    <meta name="twitter:description" content="{{ . | truncate 200 }}">
    {{- end -}}

    <meta name="author" content="{{ .Site.Author.name }}"/>

    <meta property="og:url" content="{{ .URL | absLangURL }}" />
    <meta property="og:type" content="website" />
    <meta property="og:site_name" content="{{ .Site.Title }}" />
    <link rel="canonical" href="{{ .URL | absLangURL }}" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Gentium+Basic:700|Open+Sans:400,600,700">
    <link rel="shortcut icon" href="/assets/images/favicon.png" type="image/x-icon">
    {{ $options := (dict "targetPath" "assets/styles/style.css" "outputStyle" "compressed" "enableSourceMap" false "includePaths" (slice "themes/simpleit/node_modules")) }}
    {{ $style := resources.Get "sass/main.scss" | toCSS $options | postCSS | minify }}
    <link rel="stylesheet" href="{{ $style.RelPermalink }}" integrity={{ $style.Data.Integrity }}>
    <script type="text/javascript" > (function (d, w, c) { (w[c] = w[c] || []).push(function() { try { w.yaCounter49789462 = new Ya.Metrika2({ id:49789462, clickmap:true, trackLinks:true, accurateTrackBounce:true, webvisor:true }); } catch(e) { } }); var n = d.getElementsByTagName("script")[0], s = d.createElement("script"), f = function () { n.parentNode.insertBefore(s, n); }; s.type = "text/javascript"; s.async = true; s.src = "https://cdn.jsdelivr.net/npm/yandex-metrica-watch/tag.js"; if (w.opera == "[object Opera]") { d.addEventListener("DOMContentLoaded", f, false); } else { f(); } })(document, window, "yandex_metrika_callbacks2"); </script> <noscript><div><img src="https://mc.yandex.ru/watch/49789462" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
</head>
