<div class="sidebar">
    <h4>Feed Management</h4>
    <ul>
        <li><a href="/help/how-to-subscribe/">How to Subscribe</a></li>
        <li><a href="/help/how-to-unsubscribe/">How to Unsubscribe</a></li>
        <li><a href="/help/password-protected-feeds/">Password Protected Feeds</a></li>
    </ul>
    <h4>Miscellaneous</h4>
    <ul>
        <li><a href="/help/debugging-feeds/">Debugging Feeds</a></li>
        <li><a href="/help/subscribe-to-feeds/">Subscribe to Feeds</a></li>
    </ul>

    <h4>Using ReaderFeeder</h4>
    <ul>
        <li><a href="/help/what-is-feedbin/">What is ReaderFeeder?</a></li>
        <li><a href="/help/making-a-feature-request/">Making a Feature Request</a></li>
    </ul>
</div>
